.btn-retour{
    margin:1em;
}
.header-page{
    text-align: center;
    text-decoration: underline;
}
.container{
    display: flex;
    justify-content: center;
}
.sub-container{
    margin:0 1em;
}