
<div class="container-flex">
    <div class="sommaire">
        <h1>Thematiques:</h1>
        <ul>
            <li *ngFor="let thematique of thematiques$|async">
                {{thematique.thematique}}
            </li>
        </ul>
    </div>
    <div class="container-thematique">
        <div *ngFor="let thematique of thematiques$|async">
            <h1><u>{{thematique.thematique}}</u>:</h1>
            <div>
                <div class="theme" *ngFor="let theme of thematique.themes">
                    <a [routerLink]="['/themes',theme.id]"></a>
                    <img [src]="image(theme.image)" alt="image">
                    <span>{{theme.theme}}</span>
                </div>
            </div>
        </div>
    </div>
</div>