<h3 *ngIf="'store' == typeAction">Ajouter un passage biblique:</h3>
<h3 *ngIf="'update' == typeAction">Modifier un passage biblique:</h3>
<form [formGroup]="themeLivreForm" (ngSubmit)="action()">
    <label>Livre</label>
    <select formControlName="livre_id">
        <option [value]="livre.id" *ngFor="let livre of livres$ |async">
            {{livre.titre}}
        </option>
    </select>
    <label>Chapitre:</label>
    <input type="number" formControlName="chapitre" id="chapitre">
    <div formGroupName="versets" class="versets">
        <label for="debut">Verset début:</label>
        <input type="number" formControlName="debut" id="debut">
        <label for="fin">Verset fin:</label>
        <input type="number" formControlName="fin" id="fin">
    </div>
    <label>Traduction</label>
    <select formControlName="traduction">
        <option value=""></option>
        <option value="Sarment">Sarment</option>
    </select>
    <label>Edition</label>
    <select formControlName="edition">
        <option value=""></option>
        <option value="Edition du JUBILE">Edition du JUBILE</option>
    </select>
    <label>Explications</label>
    <textarea formControlName="explications" id="explications" placeholder="explications">
    </textarea>
    <button>{{typeAction}}</button>
</form>