form{
    border:1px solid gainsboro;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 0.5em;
}
form *{
    margin:1px 0;
}
form button{
    width: fit-content;
}
form input{
    padding: 1px;
}
h3{
    text-align: center;
    text-decoration: underline;
}
select{
    padding: 1px;
}
.versets{
    display: flex;
    flex-direction: column;
}