<header>
    <h1>Projet RB</h1>
    <p>
        Un projet collaboratif autour des sujets bibliques.
    </p>
</header>
<div class="index-container">
    <div class="container-img">
        <div>
            <div class="sub-container-img" id="img1">
                <div class="filtre"></div>
                <img src="assets/images/bible.jpg" alt="bible" class="img-index">
                <h2>Se documenter</h2>
            </div>
            <p>
                Une interface complémentaire pour se documenter sur les sujets bibliques.
            </p>
        </div>
        <div>
            <div class="sub-container-img" id="img2">
            <div class="filtre"></div>
            <img src="assets/images/compte.jpg" alt="compte" class="img-index">
            <h2>Recenser</h2>
            </div>
            <p>
                Un projet collaboratif, permettant à chacun de recenser et d'ajouter des passages bibliques sur sujets spécifiques ou des themes courants.
            </p>
        </div>
        <div>
            <div class="sub-container-img" id="img3">
                <div class="filtre"></div>
                <img src="assets/images/etude.jpg" alt="etude" class="img-index">
                <h2>Partager</h2>
            </div>
            <p>
                Un projet collaboratif, permettant à chacun de partager ses opinions sur les sujets abordés.
            </p>
        </div>
    </div>
    <div class="container-link">
        <h1>Les différents sujets à explorer :</h1>
        <a routerLink="/thematiques" class="link">
            Thematiques
            <img src="assets/images/icons/right-arrow.png" alt="fleche">
        </a>
        <a routerLink="/personnages" class="link">
            Personnages
            <img src="assets/images/icons/right-arrow.png" alt="fleche">
        </a>
        <a routerLink="/paroles" class="link">
            Les paroles de Divines
            <img src="assets/images/icons/right-arrow.png" alt="fleche">
        </a>
    </div>
</div>
