<header>
    <h1>Projet RB</h1>
    <p>
        Projet RB est un outil/projet de documentation, de recensement et de partage autour des sujets bibliques.
    </p>
</header>
<div class="index-container">
    <div class="container-img">
        <div class="sub-container-img" id="img1">
            <img src="../../../assets/images/bible.jpg" alt="bible" class="img-index">
            <h2>Documenter</h2>
        </div>
        <div class="sub-container-img" id="img2">
            <img src="../../../assets/images/compte.jpg" alt="compte" class="img-index">
            <h2>Recenser</h2>
        </div>
        <div class="sub-container-img" id="img3">
            <img src="../../../assets/images/etude.jpg" alt="etude" class="img-index">
            <h2>Partager</h2>
        </div>
    </div>
    <div class="container-link">
        <h1>Les différents sujets à explorer :</h1>
        <a routerLink="/thematiques" class="link">
            Thematiques
            <img src="../../../assets/images/icons/right-arrow.png" alt="fleche">
        </a>
        <a routerLink="/personnages" class="link">
            Personnages
            <img src="../../../assets/images/icons/right-arrow.png" alt="fleche">
        </a>
    </div>
</div>
